* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: 'Overpass', sans-serif;

    background-color: #121417;
}

p {
    font-size: 15px;
}

.circle {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: hsl(213, 19%, 18%);
}

.card {
    padding: 30px;
    height: 420px;
    width: 420px;
    background-image: radial-gradient(circle, rgba(37, 45, 55, .6) 0%, rgba(18, 20, 23, 1) 100%);
    ;
    background-position: -210px -420px;
    background-size: 840px 840px;
    border-radius: 40px;
}

.card-title {
    font-size: 30px;
    margin-top: 30px;
    color: #fff;
}

.card-text {
    margin-top: 15px;
    line-height: 25px;
    color: hsl(216, 12%, 54%);
}


.card-buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 25px;
}

.btn {
    font-size: 16px;
    color: hsl(0, 0%, 100%);
    border: none;
    cursor: pointer;
}

.btn:hover {
    background-color: hsl(25, 97%, 53%);
}

.selected {
    background-color: hsl(217, 12%, 63%);
}

.error-box {
    position: relative;
}

.error-msg {
    display: none;
    position: absolute;
    top: 10px;
    font-size: 14px;
    color: red;
}

.btn-submit {
    margin-top: 25px;
    width: 100%;
    height: 50px;
    font-size: 16px;
    text-transform: uppercase;
    letter-spacing: 3px;
    border-radius: 50px;
    background-color: hsl(25, 97%, 53%);
    color: #fff;
}

.btn-submit:hover {
    font-weight: bold;
    background-color: #ddd;
    color: hsl(25, 97%, 53%);
}

.card-body-submitted {
    display: none;
    flex-direction: column;
    align-items: center;
    padding-top: 10px;
}

.selected-rating {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    padding: 8px 16px 5px;
    border-radius: 20px;
    color: hsl(25, 97%, 53%);
    background-color: hsl(213, 19%, 18%);
}

.thank-you-text {
    font-size: 16px;
    text-align: center;
}


/* ANIMATION */

.bounce {
    outline: 0;
    border-color: red;
    animation: bounce .3s;
}

@keyframes bounce {
    0% {
        transform: translateX(0px);
        timing-function: ease-in;
    }

    37% {
        transform: translateX(4px);
        timing-function: ease-in;
    }

    55% {
        transform: translateX(-5px);
        timing-function: ease-in;
    }

    73% {
        transform: translateX(4px);
        timing-function: ease-out;
    }

    82% {
        transform: translateX(-4px);
        timing-function: ease-in;
    }

    91% {
        transform: translateX(2px);
        timing-function: ease-out;
    }

    96% {
        transform: translateX(-2px);
        timing-function: ease-in;
    }

    100% {
        transform: translateX(0px);
        timing-function: ease-in;
    }
}